<html>
<head>
    <style>
        body {
          margin: 0;
          font-family: Arial, Helvetica, sans-serif;
        }
  
        .navbar {
          overflow: hidden;
          background-color: #333;
        }
  
        .navbar a {
          float: left;
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
  
        .navbar a:hover {
          background-color: #111;
        }
      </style>
</head>
<body>
    
    <div class="navbar">
        <a href="#home">Inicio</a>
        <a href="#about">About</a>
      </div>
<h1>
Welcome to Best Cars dealership, home to the best cars in North America. We sell domestic and imported cars at reasonable prices.
</h1>

</body>
</html>